%section#intro

  = image_tag "elasticsearch_logo.png"
  %h3 MBC: WebApps mit Cordova und Angular

  %p
    = File.mtime(__FILE__).strftime("%d.%m.%Y")

%section
  %section
    %h2 Motivation

%section
  %section
    %h2 Technologien
  %section
    %h3 Cordova/Phonegap
  %section
    %h3 Ratchet
  %section
    %h3 Angular
  %section
    %h3 Middleman/Coffeescript/Sass
  %section
    %h3 Serverseitige API
%section
  %section
    %h2 App-Vorstellung
%section
  %section
    %h2 Conclusion

%section

  %ul.fa-ul(style='list-style-type: none')
    %li
      %span.fa.fa-github.fa-li
      %a(href='https://github.com/pebra') pebra
    %li
      %span.fa.fa-twitter.fa-li
      %a(href='https://twitter.com/pebra') @pebra
    %li
      %span.fa.fa-home.fa-li
      %a(href='http://pebra.net') pebra.net

  %ul.fa-ul(style='list-style-type: none')
    %li
      %span.fa.fa-github.fa-li
      %a(href='https://github.com/zealot128') zealot128
    %li
      %span.fa.fa-twitter.fa-li
      %a(href='https://twitter.com/stefanwienert') @stefanwienert
    %li
      %span.fa.fa-home.fa-li
      %a(href='http://stefanwienert.de') stefanwienert.de

